beautifulsoup4==4.4.1
Django==1.7.3
django-appconf==0.6
django-compressor==1.4
django-dbarray==0.2
django-filebrowser==3.5.7
django-grappelli==2.5.7
django-model-utils==2.0
django-realtime==1.1
django-tinymce==2.0.4
Django-tinymce-filebrowser==0.2.1
django-user-sessions==1.0.0
gunicorn==18.0
jsonfield==1.0.3
Pillow==2.9.0
psycopg2==2.5.2
python-dateutil==2.2
redis==2.10.3
six==1.5.2
sorl-thumbnail==12.3
