ul.history-list {
  overflow-y: auto;
  margin: 0;
  padding: 10px 20px 10px 20px;
  list-style: none;
  height: calc(100% - 30px);
}

li.history-item {
  line-height: 20px;
}

li.history-item .timestamp {
  padding-right: 15px;
  text-align: right;
  cursor: pointer;
  font-size: 60%;
  color: #aaa;
}
li.history-item .username {
  padding-right: 15px;
  text-align: right;
}
li.history-item .content {
  display: block;
  padding-left: 5px;
}

li.history-item.active {
  background-color: #B0BED9 !important;
}

.history a.hypothesis-text {
  color: #337ab7;
  text-decoration: none;
}
