.hypothesis {
  font-size: 1.1em;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 5px;
}
.hypothesis .username {
}
.hypothesis .timestamp {
  margin-left:10px;
  font-size: .8em;
}
.hypothesis .message {
  margin-left: 1em;
  padding: 5px;
}

.hypothesis.current {
  background-color: rgba(70, 130, 180, 0.3);
}
