/* dialog related */
.ui-dialog {
  overflow: visible;
}
.ui-widget-header {
    background: #7F9FE2;
}
.history .ui-widget-header {
    background: #ccc;
}
.ui-widget.ui-dialog {
    padding: 0;
}
.ui-dialog .ui-dialog-content {
    padding: 0;
}
.ui-dialog-titlebar {
    border-radius: 0;
}
.ui-dialog-content {
    overflow: scroll;
}


/* page header */
.navbar-default {
  background-color: #4d6cbb;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
  color: white;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-nav label {
  margin-right: 4px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #555;
  background-color: #eee;
}
.navbar-default .userlist {
  margin-right: 5px;
}
.navbar-default .userlist-item .label {
  padding: 5px 15px;
  line-height: 20px;
  position: relative;
  display: block;
  font-size: 100%;
  margin: 10px 5px;
}
.nav input[type=radio],
.nav input[type=checkbox] {
  margin: 4px 4px;
}


#progressbar {
    position: absolute;
    top: 40%;
    left: 45%;
    width: 400px;
    margin: 0 0 0 -130px;
}
.progress-label {
    position: absolute;
    left: 40%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }


html, body {
  font: 12px sans serif;
}

/* entity */
/* .entity.location:before { */
/*   background-image: url('../img/entity/location.png'); */
/*   background-size: 10px 10px; */
/*   content: ''; */
/*   width: 10px; */
/*   height: 10px; */
/* } */
/* .entity.event:before { */
/*   background-image: url('../img/entity/event.png'); */
/*   background-size: 10px 10px; */
/*   content: ''; */
/* } */
/* .entity.person:before { */
/*   background-image: url('../img/entity/person.png'); */
/*   background-size: 10px 10px; */
/*   content: ''; */
/* } */
/* .entity.organization:before { */
/*   background-image: url('../img/entity/organization.png'); */
/*   background-size: 10px 10px; */
/*   content: ''; */
/* } */
/* .entity.resource:before { */
/*   background-image: url('../img/entity/resource.png'); */
/*   background-size: 10px 10px; */
/*   content: ''; */
/* } */
/*  */
a.entity, span.entity {
  font-style: italic;
  margin-left: 3px;
  margin-right: 3px;
}

a.entity:hover {
  cursor: pointer;
}
a.entity:hover:after {
  content: ' ';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.active {
  background-color: #B0BED9 !important;
}
