/* page header */
.drawer-hamburger{margin-left:8px;position:fixed;z-index:4;top:0;display:block;box-sizing:content-box;width:2pc;width:2rem;padding:0;padding-right:9pt;padding-left:9pt;padding:16px .75rem 30px;-webkit-transition:all .6s cubic-bezier(0.190,1.000,0.220,1.000);transition:all .6s cubic-bezier(0.190,1.000,0.220,1.000);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);border:0;outline:0;background-color:transparent}
.drawer-hamburger:hover{cursor:pointer;background-color:transparent}
.drawer-hamburger-icon{position:relative;display:block;margin-top:10px}
.drawer-hamburger-icon,.drawer-hamburger-icon:after,.drawer-hamburger-icon:before{width:100%;height:2px;-webkit-transition:all .6s cubic-bezier(0.190,1.000,0.220,1.000);transition:all .6s cubic-bezier(0.190,1.000,0.220,1.000);background-color:white;}
.drawer-hamburger-icon:after,.drawer-hamburger-icon:before{position:absolute;top:-10px;left:0;content:' '}
.drawer-hamburger-icon:after{top:10px}
.drawer-open .drawer-hamburger-icon{background-color:transparent}
.drawer-open .drawer-hamburger-icon:after,.drawer-open .drawer-hamburger-icon:before{top:0}
.drawer-open .drawer-hamburger-icon:before{-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.drawer-open .drawer-hamburger-icon:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}

.drawer-right .drawer-controls {
  margin-left: -60px !important;
  width: auto !important;
}

.navbar-default {
  background-color: #1A40A0;
}
.navbar-right {
  margin-right: 30px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
  color: white;
}
.navbar-default .navbar-nav>li>a{
  color: white;
}
#page_header a#username{
  background-color: white;
  color: black;
}
.navbar-default .navbar-nav label {
  margin-right: 4px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #555;
  background-color: #eee;
}
.navbar-default .userlist {
  margin-right: 5px;
}
.navbar-default .userlist-item .label {
  padding: 5px 15px;
  line-height: 20px;
  position: relative;
  display: block;
  font-size: 100%;
  margin: 10px 5px;
}
.nav input[type=radio],
.nav input[type=checkbox] {
  margin: 4px 4px;
}

.navbar #userlist {
  margin-right: 15px;
}
.navbar #userlist li a {
  background-color: white;
  color: rgb(255, 127, 14);
}
.navbar #userlist li a.watching {
  background-color: #e40b0b;
  color: white;
}

.navbar #userlist li a.watchedBy {
  background-color: #5cb85c;
  color: white;
}

#progressbar {
    position: absolute;
    top: 40%;
    left: 45%;
    width: 400px;
    margin: 0 0 0 -130px;
}
.progress-label {
    position: absolute;
    left: 40%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }

  .modal {
    font-size: 1.1em;
  }

  #hypoRef {
    margin-left: 30px;
    padding: 10px;
  }


html, body {
  font: 12px sans serif;
}

/* entity */
.wb-item:before {
  content: '';
  display: inline-block;
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
  left: 0px;
  vertical-align: text-bottom;
}
.wb-entity.location:before {
  background-image: url('../img/entity/location.svg');
}
.wb-entity.event:before {
  background-image: url('../img/entity/event.svg');
}
.wb-entity.person:before {
  background-image: url('../img/entity/person.svg');
}
.wb-entity.organization:before {
  background-image: url('../img/entity/organization.svg');
}
.wb-entity.resource:before {
  background-image: url('../img/entity/resource.svg');
}

.wb-entity.event {
    color: #17becf;
}
.wb-entity.location {
    color: #e377c2;
}
.wb-entity.person {
    color: #9467bd;
}
.wb-entity.organization {
    color: #ff9896;
}
.wb-entity.resource {
    color: #2ca02c;
}
/*  */
.wb-item {
  font-style: italic;
  margin-left: 3px;
  margin-right: 3px;
}

.wb-item.annotation:before {
  background-image: url('../img/entity/annotation.svg');
}
.wb-item.wb-relationship:before {
  background-image: url('../img/entity/relationship.svg');
}
.wb-item.wb-relationship {
    color: #ff7f0e;
}


a.wb-entity:hover {
  cursor: pointer;
}
a.wb-entity:hover:after {
  content: ' ';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/*.highlighted {
  background-color: yellow !important;
}
*/
.filter-list {
  list-style-type: none;
}

.filter-list li {
  display: inline;
  margin-right: 20px;
  padding: 5px;
  background-color: beige;
}

.filter-list .remove {
  cursor: pointer;
}

.pager {
  margin: 0;
}

.user-monitor {
  position: absolute;
  top: -12px;
  left: 5px;
  font-size: 5em;
}
.user-monitor .user-thumb {
  /*padding-right: 1em;*/
}
.user-icon {
  background-color: white;
  margin-left: 5px;
}

.ui-autocomplete.ui-menu {
  /*z-index: 9999;*/
}

.ui-autocomplete {
  z-index: 1001;
}

.timestamp {
  padding-right: 15px;
  text-align: right;
  font-size: 60%;
}

.username {
  color: rgb(255, 127, 14);
}

.user-icon, .user-icon:hover{
  color: rgb(255, 127, 14) !important;
}

.user-icon.active {
  background-color: blue;
}
.user-icon.disabled {
  color: grey !important;
  cursor: not-allowed;
}
