.viz.message .messageArea {
  margin: 0 auto -40px;
  height: 100%;
  padding-bottom: 60px;
}

.viz.message .inputMessage #message_content {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  bottom: 0;
  height: 60px;
  left: 0;
  right: 0;
  position: absolute;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;
  margin-top: 5px;
  padding: 6px 12px;
  width: 100%;
}

.viz.message ul.messages {
  /* overflow-y: scroll; */
  margin: 0;
  padding: 10px 20px 10px 20px;
  list-style: none;
  height: 100%;
  overflow-y: scroll;
}

.viz.message li.message {
  line-height: 20px;
}

.viz.message li.message .timestamp {
  float: left;
  padding-right: 15px;
  text-align: right;
  font-size: 60%;
}
.viz.message li.message .username {
  float: left;
  padding-right: 15px;
  text-align: right;
}
.viz.message [contentEditable=true]:empty:before{
  content:attr(data-placeholder)
}

