.node.dim circle {
  stroke-opacity: .2;
  fill-opacity: .2;
}
.node.dim text {
  fill-opacity: .2;
}
.link.dim {
  stroke-opacity: .2;
}
circle.selected {
    stroke: #3276b1 !important;
    stroke-width: dpx;
}
path.dragline,
path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
    cursor: pointer;
}

.linkarrow {
    fill: #ccc;
}

circle.node:hover {
    stroke-width: 1.5px;
    cursor: pointer; ;
}
path.dragline {
    pointer-events: none;
}

.brush .extent {
    fill-opacity: .1;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.network-filterbar {
    list-style-type: none;
    width: 100%;
    background-color: #ECEDF7;
}
.network-filterbar ul {
  padding: 0;
}
.network-filterbar li {
    display: inline;
    margin: 20px 10px;
}

.network .rel-div {
  position: absolute;
  margin-top: 70px;
  margin-left: 5px;
  padding:0;
}
.network .rel-list {
  list-style-type: none;
  max-width: 20em;
  /*height: 100%;*/
  overflow: auto;
  padding:0;
}

.network .rel-item input[type=checkbox] {
  margin-right: 2px;
}

.network .rel-item label {
  font-weight: normal;
}

.network .link-text {
  font-size: .8em;
  text-anchor: 'middle';
}
