.network .placeholder {
  height: 100vh;
  color: #999;
}

.network svg {
  cursor: move;
  fill: white;
}
.node.dim circle {
  stroke-opacity: .2;
  fill-opacity: .2;
}
.network .node text {
  fill: #555;
  font-size: .8em;
}
.node.dim text {
  fill-opacity: .2;
}
.link.dim path {
  stroke-opacity: .2;
}
.link.dim text {
  fill-opacity: .2;
}
circle.selected {
    stroke: #3276b1 !important;
    stroke-width: dpx;
}

.network path.dragline,
.network .link path {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
.link, .node {
    cursor: pointer;
}

.linkarrow {
    fill: #ccc;
}

circle.node:hover {
    stroke-width: 1.5px;
    cursor: pointer; ;
}
path.dragline {
    pointer-events: none;
}

.brush .extent {
    fill-opacity: .1;
    stroke: #fff;
    shape-rendering: crispEdges;
}

#filterBar {
    width: 100%;
    background-color: #ECEDF7;
    padding: 5px 5px;
}

.network .link text {
  font-size: .8em;
  text-anchor: middle;
}

.network .link text {
  fill: #999;
}
