/* axis */

.viz.timeline .axis { /* axis labels */
    fill: #808080;
    font-family: sans-serif;
    font-size: 10px;
}

.viz.timeline .axis line{ /* axis tick marks */
    stroke-width : 1;
    stroke: grey;
    shape-rendering: crispEdges;
}

.viz.timeline .axis path { /* axis line */
    stroke-width : 1;
    stroke: grey;
    shape-rendering: crispEdges;
}

/* brush */

.brush .extent {
    stroke: gray;
    fill: blue;
    fill-opacity: .1;
}

.chart {
    fill: white;
}

.interval {
    fill: rgb(169, 197, 221);
    stroke-width: 6;
    cursor : default;
    pointer-events: true;
}

.instant {
    fill: rgb(169, 197, 221);
    stroke-width: 6;
    cursor : default;
    /*pointer-events: true;*/
}

.instantLabel {
    fill : black;
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

.intervalLabel {
    fill : black;
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

.item {
    cursor : default;
    pointer-events: auto;
}

.svg {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #FFFFFF;
}




