{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}

{% block extrajs %}
{% endblock%}

{% block extracss %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'account/css/login.css' %}"> -->
{% endblock%}


{% block page-header %}
  {% include 'page_header.html' %}
{% endblock %}

{% block page-body %}
<div class="container" id="content-main">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form action="{% url 'account:login' %}" method='POST' class="form-signin">
        <h2 class="form-signin-heading">Sign in </h2>
        <div class="control-group">
          <label for="username" class="sr-only">PSU email</label>
          <div class="input-group">
            <input type="text" class="form-control" name="username" placeholder="PSU email" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">@psu.edu</span>
          </div>
        </div>
        <div class="control-group">
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
        <!-- <span class="help-block pull-right">Not signed up yet? <a href="{% url 'account:register' %}">Register here</a></span> -->
      </form>
    </div>
  </div>
</div>
{% endblock %}
