{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}
{% load drealtimetags %}

{% block extrajs %}
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.5/d3.js" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'lib/jquery-dialogextend-2.04/jquery.dialogextend.min.js' %}"></script>

<script type="text/javascript" language="javascript" src="{% static 'lib/OpenLayers-2.13.1/OpenLayers.js' %}"></script>

<!-- enjoyhint library -->
<script src="{% static 'lib/enjoyhint/enjoyhint_all.js' %}"></script>

<script src="{%static 'lib/datetimepicker/jquery.datetimepicker.js'%}"></script>

<!-- google place search -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false&libraries=places"></script>

<script src="{% static 'lib/selectize.js/selectize.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'lib/DataTables-1.9.4/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'lib/DataTables-1.9.4/plugin/ColReorderWithResize.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/jEditable/jquery.jeditable.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'lib/ckeditor-4.4.3/ckeditor.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/bootstrap-notify/bootstrap-notify.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/rangy/lib/rangy-core.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/rangy/lib/rangy-textrange.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/colorpicker/dist/js/bootstrap-colorpicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/etherpad-lite-jquery/js/etherpad.js' %}"></script>
<!-- https://github.com/melanke/Watch.JS -->
<script type="text/javascript" src="{% static 'lib/watch.min.js' %}"></script>
<!-- for sync -->
{% ishout_js %}


{% compress js %}
<script type="text/javascript" src="{% static 'workspace/js/wb.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/store.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/pubsub.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/events.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/utility.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/viz/table.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/viz/timeline.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/viewer.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/editor.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/vizbase.js' %}"></script>
<script type="text/javascript" src="{% static 'logger/js/log.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/notepad.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/entitytable.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/annotationtable.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/dataentrytable.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/timeline.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/map.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/network.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/message.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/history.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/help.js' %}"></script>
<script type="text/javascript" src="{% static 'sync/js/sync.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/main.js' %}"></script>
{% endcompress %}

<!-- for annotation -->
{% compress js%}
<script type="text/javascript" src="{% static 'annotator/js/util.js' %}"></script>
<script type="text/javascript" src="{% static 'annotator/js/console.js' %}"></script>
<script type="text/javascript" src="{% static 'annotator/js/class.js' %}"></script>
<script type="text/javascript" src="{% static 'annotator/js/range.js' %}"></script>
<script type="text/javascript" src="{% static 'annotator/js/annotator.js' %}"></script>
<script type="text/javascript" src="{% static 'annotator/js/widget.js' %}"></script>
<script type="text/javascript" src="{% static 'annotator/js/editor.js' %}"></script>
<script type="text/javascript" src="{% static 'annotator/js/viewer.js' %}"></script>
<script type="text/javascript" src="{% static 'annotator/js/notification.js' %}"></script>
<script type="text/javascript" src="{% static 'annotator/js/xpath.js' %}"></script>
<script type="text/javascript" src="{% static 'annotator/js/plugin/attribute_widget.js' %}"></script>
<script type="text/javascript" src="{% static 'annotator/js/plugin/store.js' %}"></script>
<script type="text/javascript" src="{% static 'annotator/js/plugin/entity.js' %}"></script>
{% endcompress %}
<!-- end for annotation -->

{% endblock %}

{% block extracss %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-notify/bootstrap-notify.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/datetimepicker/jquery.datetimepicker.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'lib/colorpicker/dist/css/bootstrap-colorpicker.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'lib/selectize.js/selectize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/enjoyhint/enjoyhint.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'annotator/css/annotator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'workspace/css/viz.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'workspace/css/popup.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'workspace/css/table.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'workspace/css/timeline.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'workspace/css/map.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'workspace/css/network.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'workspace/css/message.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'workspace/css/history.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'workspace/css/main.css' %}">
{% endcompress %}

{% endblock %}

{% block page-header %}
  {% include 'page_header.html' %}
  <div class='notifications top-right'></div>
{% endblock %}

{% block page-body %}
    <script language='javascript'>
        USER    = {{ user.id }};
        CASE = {{ case.id }};
        GROUP = {{ group.id }};
        GLOBAL_URL = {
          users: "{% url 'account:users' %}",
          data: "{% url 'ws:data' %}",
          annotation: "{% url 'annotation:annotation' %}",
          static: "{{STATIC_URL}}",
          history: "{% url 'log:logs' %}",
          message: "{% url 'sync:message' %}",
          messages: "{% url 'sync:messages' %}",
          log: "{% url 'log:log' %}",
          entity_id: "{% url 'ws:entity_id' 0 %}",
          notepad: '{{notepad_url}}'
        }

    </script>

    <div id="progressbar" style="display:none;"><div class="progress-label">Updating Data...</div></div>


{% endblock %}

