{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}
{% load drealtimetags %}

{% block extrajs %}
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.5/d3.js" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'lib/ba-tiny-pubsub.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/jquery-dialogextend-2.02/build/jquery.dialogextend.js' %}"></script>

<script type="text/javascript" language="javascript" src="{% static 'workspace/lib/OpenLayers-2.13.1/OpenLayers.js' %}"></script>

<!-- enjoyhint library -->
<script src="{% static 'lib/enjoyhint/enjoyhint.js' %}"></script>

<script src="{%static 'lib/datetimepicker/jquery.datetimepicker.js'%}"></script>

<!-- google place search -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

<script src="{% static 'workspace/lib/selectize.js/selectize.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'lib/DataTables-1.9.4/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'lib/DataTables-1.9.4/plugin/ColReorderWithResize.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/jEditable/jquery.jeditable.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'workspace/lib/ckeditor-4.4.3/ckeditor.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/bootstrap-notify/bootstrap-notify.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/jquery.cookie.js' %}"></script>

<!-- for annotation -->
{% compress js%}
<script src="{% static 'annotator/lib/util.js' %}"></script>
<script src="{% static 'annotator/lib/console.js' %}"></script>
<script src="{% static 'annotator/lib/class.js' %}"></script>
<script src="{% static 'annotator/lib/range.js' %}"></script>
<script src="{% static 'annotator/lib/annotator.js' %}"></script>
<script src="{% static 'annotator/lib/widget.js' %}"></script>
<script src="{% static 'annotator/lib/editor.js' %}"></script>
<script src="{% static 'annotator/lib/viewer.js' %}"></script>
<script src="{% static 'annotator/lib/notification.js' %}"></script>
<script src="{% static 'annotator/lib/xpath.js' %}"></script>
<script src="{% static 'annotator/lib/plugin/store.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'annotator/lib/plugin/tags.js' %}"></script>
{% endcompress %}
<!-- end for annotation -->

<!-- for sync -->
{% ishout_js %}

{% compress js %}
<script type="text/javascript" src="{% static 'workspace/js/wb.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/utility.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/vizbase.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/activitylog.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/notepad.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/table.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/timeline.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/map.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/network.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/message.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/history.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/help.js' %}"></script>
<script type="text/javascript" src="{% static 'sync/sync.js' %}"></script>
<script type="text/javascript" src="{% static 'workspace/js/main.js' %}"></script>
{% endcompress %}
{% endblock %}

{% block extracss %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-notify/bootstrap-notify.css' %}">
<link href="{% static 'lib/datetimepicker/jquery.datetimepicker.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'lib/selectize.js/selectize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/enjoyhint/enjoyhint.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'annotator/css/annotator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'workspace/css/table.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'workspace/css/timeline.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'workspace/css/map.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'workspace/css/network.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'workspace/css/message.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'workspace/css/history.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'workspace/css/main.css' %}">
{% endcompress %}

{% endblock %}

{% block page-header %}
  {% include 'page_header.html' %}
  <div class='notifications top-right'></div>
{% endblock %}

{% block page-body %}
    <script language='javascript'>
        USER    = {{ user.id }};
        CASE = {{ case.id }};
        GROUP = {{ group.id }};
        GLOBAL_URL = {
          data: "{% url 'ws:data' %}"
        }

    </script>

    <div id="progressbar" style="display:none;"><div class="progress-label">Updating Data...</div></div>


{% endblock %}

